
*.xcuserstate

*.xccheckout

interviewPrepWithObjC.xcodeproj/project.xcworkspace/xcshareddata/interviewPrepWithObjC.xccheckout

*.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcbkptlist

*.xcuserstate
